body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}

.fa-apple, .fa-coffee {
    font-size: 200px;
}

/* Style for form */
 
form {
    margin-left: 100px;
}